@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html, body, .container {
  height: 100%;
}
.container {
  display: table;
  vertical-align: middle;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
h1 {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
.button {
  color: #fff;
  background: rgba(0, 0, 0, .3);
  text-transform: uppercase;
  line-height: 2em;
}
.button:hover, .button:focus {
  color: #fff;
  background-color: #9d435a;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}
